<div>
	<h1>Usuário</h1>
	<p><%= prescription.user_id %></p>
	<h1>Doença</h1>
	<p><%= prescription.illness %></p>
	<h1>Nome da Receita</h1>
	<p><%= prescription.name %></p>
	<h1>Manipulado ?</h1>
	<p><%= prescription.manipulated? %></p>
	<h1>Conteúdo</h1>
	<p><%= prescription.text %></p>

</div>

